$textColor: #000;
$textColor2: #fff;
$textColor3: #101c3a;
$bgColor: #fff;
$bgColor2: #151515;
$bgColor3: #101c3a;
$bgColor4: #1c3559;
$font: "Poppins", "Gill Sans MT", "Segoe UI", Verdana, sans-serif;
$font2: "Source Serif Pro", "Gill Sans MT", "Segoe UI", Verdana, sans-serif;
$font-size-6x: min(7.5vmin, calc(2rem + 1.2vmax));
$font-size-5x: min(6.5vmin, calc(1.1rem + 1.2vmax));
$font-size-4x: min(4vmin, calc(0.8rem + 1.2vmax));
$font-size-3x: min(6vmin, calc(1rem + 0.12vmax));
$font-size-2x: min(4vmin, calc(0.85rem + 0.12vmax));
$font-size-1x: min(2vmin, calc(0.65rem + 0.12vmax));
$letter-spacing-3x: 0.03em;
$letter-spacing-2x: 0.02em;
$gap-4x: min(8vmin, 2rem);
$gap-3x: min(5vmin, 1.5rem);
$gap-2x: min(4.5vmin, 1rem);
$gap-1x: min(2vmin, 0.5rem);
$size-10x: min(15vmin, 5.5rem);
$size-9x: min(12.5vmin, 5rem);
$size-8x: min(10vmin, 4rem);
$size-7x: min(10vmin, 3rem);
$size-6x: min(8.5vmin, 2.5rem);
$size-5x: min(8vmin, 2rem);
$size-4x: min(8vmin, 1.5rem);
$size-3x: min(7vmin, 1rem);
$size-2x: min(5vmin, 1rem);
$size-1x: min(2.5vmin, 0.5rem);

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  max-width: 1500px;
  margin: 0 auto;
}

img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
i{
  font-size: $font-size-1x;
}
input{
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}
h3{
  font-family: $font2;
  font-weight: 700;
  font-size: $font-size-3x;
  position: relative;
  width: fit-content;
  color: #22223C;
  &::after{
    content: '';
    position: absolute;
    width: 25%;
    height: 2px;
    bottom: calc(0% - 1px);
    left: 0;
    background-color: #F5B963
  }
}
.btn{
  cursor: pointer;
  padding: 0.3em;
  background-color: #233D2C;
  color: #fff;
  border-radius: 0.3em;
  font-size: inherit;
}