@use "config" as *;
@use "utilities" as *;


.header {
  @include flex(space-between);
  gap: $gap-4x;
  padding: $size-2x;
  width: min(100%, 1000px);
  margin: 0 auto;
  > .logo {
    font-size: $font-size-3x;
    font-weight: 600;
    color: #166527;
    span {
      color: #1a3724;
    }
  }
  > .box {
    @include flex();
    gap: $gap-3x;
    font-size: $font-size-3x;
    @include screen_size(medium) {
      gap: $gap-1x;
    }
  }
  .nav-toggle {
    display: none;
    @include screen_size(medium) {
      display: block;
    }
  }
  nav > .menu {
    @include flex();
    gap: $gap-3x;
    font-size: $font-size-2x;
    @include screen_size(medium) {
      display: none;
    }
  }
  .user-icon {
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
  }
  .user-icon > i {
    font-size: inherit;
    padding: 0.4em;
  }
}

.hero-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(90deg, #000b02 6.34%, #2f2e36 37.81%);
  width: 100%;
  max-height: 480px;
  aspect-ratio: 6/2;
  aspect-ratio: 2/1;

  @include screen_size(medium) {
    grid-template-columns: none;
    aspect-ratio: 1/1;
  }

  > .img-box {
    width: auto;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      background: linear-gradient(
        90deg,
        rgba(46, 46, 53, 0.97) 7.44%,
        rgba(0, 0, 0, 0) 42.18%
      );
      @include screen_size(medium) {
        background: rgba(0, 0, 0, 0.45);
      }
    }
  }
  > .content {
    justify-self: end;
    align-self: center;
    color: white;
    padding: $size-9x $size-2x;
    width: min(600px, 100%);
    z-index: 10;
    transform: translateX(15%);

    @include screen_size(medium) {
      padding: $size-9x $size-7x;
      justify-self: start;
      position: absolute;
      transform: translateX(0%);
    }
    > .heading {
      font-family: $font2;
      font-size: $font-size-6x;
      letter-spacing: 0.01em;
      font-weight: 700;
      > span {
        color: #f5b963;
      }
    }
    > .info {
      max-width: 50ch;
      font-size: $font-size-2x;
      padding: $size-4x 0 $size-6x;
    }
    > .users-reviews {
      @include flex();
      flex-wrap: wrap;
      row-gap: 1rem;
    }
    > .users-reviews > .users {
      @include flex();
      @include screen_size(medium) {
        display: none;
      }
    }
    > .users-reviews > .users > .image {
      width: min(20%, 37px);
      height: auto;
      border: 1px solid black;
      border-radius: 50%;
      margin-right: -8px;
    }

    > .users-reviews > .ratings {
      flex: 1;
      @include flex(flex-start);
      flex-wrap: wrap;
      gap: $gap-2x;
      font-size: $font-size-2x;

      > .stars i {
        background-color: #166527;
        font-size: 0.7em;
        padding: 0.5em;
      }
    }
    > .users-reviews > .ratings > .text i {
      font-size: 1em;
    }
    > .users-reviews .stars {
      position: relative;

      &::after {
        content: "4.5/5";
        font-size: 1em;
      }
    }
  }
}

.search-bars {
  @include flex();
  gap: $gap-1x;
  position: relative;
  width: min(940px, 90%);
  margin: 0 auto;
  padding: $size-4x $size-3x;
  transform: translateY(-50%);
  box-shadow: 0px 1px 2px #1e1e2033, 0px 12px 24px #272d4d33;
  background-color: #ffffff;
  border-radius: 4px;

  @include screen_size(medium){
    padding: $size-3x;
  }
  > .search-bar {
    @include flex();
    flex: 1;
    gap: $gap-1x;
    font-size: $font-size-1x;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    background: #eaeaea;
    &:first-child {
      flex: 1.2;
      @include screen_size(medium) {
        flex: 2;
      }
    }
    &:last-child {
      background-color: #233d2c;
    }
    &:nth-of-type(2n),
    &:nth-of-type(3n) {
      @include screen_size(medium) {
        display: none;
      }
    }
  }
  > .search-bar > * {
    font-size: inherit;
  }
  > .search-bar > input {
    flex: 1;
    width: 0;
    border: none;
    padding: 0.5em;
  }
}

.section-card {
  padding: 0 $size-2x $size-2x;

  > .inner-box {
    width: min(940px, 100%);
    margin: 0 auto;
  }
  > .inner-box > .container {
    @include flex(space-between);
    font-size: min(3vmin, calc(0.7rem + 0.12vmax));
    gap: $gap-3x;
    color: #47475f;
    a {
      text-decoration: underline;
      color: #4a4a4a;
    }
  }
  .title {
    margin-bottom: $size-3x;
  }
  .cards-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 50vmin), 1fr));
    margin: $size-6x auto;
    gap: $gap-3x;
  }
  .cards-box > .card {
    position: relative;
    background-color: #2b3030;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    > .favourite {
      position: absolute;
      right: 2%;
      top: 1%;
      font-size: $font-size-2x;
      padding: $size-1x;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0.2em;
    }
  }
  .cards-box > .card > .content {
    font-size: $font-size-1x;
    font-weight: 300;
    padding: 1.2em;
    .tag-text {
      font-size: min(1.9vmin, 0.6rem + 0.12vmax);
      text-transform: uppercase;
      color: #d7fff1;
    }
    .text-box {
      @include flex(space-between);
    }
    .name {
      font-family: $font2;
      font-weight: 700;
      font-size: $size-2x;
    }
    .price {
      font-weight: 600;
      font-size: $font-size-3x;
    }
    .info {
      margin: $size-2x 0;
      line-height: 1.8;
    }
    .item-reviews span {
      margin-left: $size-1x;
    }
  }
}

.section-card.inspiration-cards {
  padding-top: $size-6x;
  background-color: #f2faf9;
  .cards-box > .card {
    background-color: #596363;
  }
}

.testimonials {
  position: relative;
  @include screen_size(medium) {
    aspect-ratio: 3/2;
  }
  &::after {
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.4) 40.83%,
      rgba(0, 0, 0, 0) 47.47%
    );
  }
  .content-box {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 10;
    font-size: $font-size-1x;
    font-weight: 300;
    line-height: 1.5;
    min-width: 25ch;

    .title {
      font-family: $font2;
      font-size: $font-size-5x;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: $size-4x;
    }
    .info {
      margin: $size-4x 0;
      @include screen_size(medium) {
        display: none;
      }
    }
    .info > span {
      display: block;
      margin-top: $size-3x;
    }
    .ratings i {
      padding: 0.2em;
      background-color: #1bb580;
    }
    .date {
      margin-left: $size-1x;
    }
  }
}

.who-we-are {
  padding: $size-3x;

  > .inner-box {
    @include flex();
    gap: $gap-4x;
    width: min(90%, 790px);
    margin: $size-10x auto;

    @include screen_size(medium) {
      display: grid;
    }
  }
  .text-box {
    flex-basis: 40%;
    font-size: min(2.5vmin, 0.8rem + 0.12vmax);
    .title {
      font-size: $font-size-4x;
    }
    .info {
      margin: $size-5x 0;
      span {
        display: block;
        margin-top: $size-4x;
      }
    }
  }
  .vid-box {
    flex: 1;
    position: relative;
    filter: drop-shadow(0px 2px 4px #88898b93)
      drop-shadow(0px 2px 8px #88898b93);
    border-radius: 5px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -10;
    }
    &::before {
      width: 30%;
      aspect-ratio: 1/1;
      top: 0;
      right: 0;
      transform: translate(30%, -30%);
      background: url(../img/who-we-are/dots.svg) no-repeat center/contain;
    }
    &::after {
      inset: 0 0 0 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.07);
      cursor: pointer;
    }
    .control {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25%;
      z-index: 20;
      cursor: pointer;
    }
  }
}

.perks {
  background-color: #f2faf9;
  padding: $size-9x 0;

  @include screen_size(medium) {
    background-color: transparent;
  }
  > .inner-box {
    width: min(90%, 1190px);
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #fff;
    @include screen_size(medium) {
      width: 100%;
      grid-template-columns: none;
      &::before {
        display: none;
      }
    }

    &::before {
      position: absolute;
      inset: 0 0 0 0;
      content: "";
      background: linear-gradient(
        90deg,
        #181816 36.01%,
        rgba(0, 0, 0, 0) 60.94%
      );
    }
  }
  .text-box {
    align-self: center;
    transform: translateX(50%);
    font-size: $font-size-1x;
    font-weight: 300;
    margin: $size-3x;
    z-index: 10;
    
    @include screen_size(medium) {
      font-size: $font-size-2x;
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
      margin: $size-3x 0;
      > *:not(:last-child) {
        display: none;
      }
    }
    .title {
      font-family: $font2;
      font-size: $font-size-5x;
    }
    .info {
      line-height: 1.6;
      margin: $size-4x 0;
    }
    .find-cabins {
      background-color: #f5b963;
      color: #000;
      padding: 1em 2em;
      border: none;
    }
  }
}

.faqs {
  > .inner-box {
    width: 80%;
    margin: $size-8x auto;
    font-size: $font-size-2x;
    @include screen_size(medium) {
      width: min(580px, 90%);
    }
  }

  .title {
    color: #1f3d3e;
    font-size: $font-size-4x;
    &::after {
      content: none;
    }
  }
  .content {
    margin: $size-7x 0 $size-5x;

    > .faq {
      display: grid;
      grid-template-columns: 30ch 1fr;
      margin-bottom: 1rem;
      gap: $gap-3x;

      @include screen_size(medium) {
        grid-template-columns: none;
        > .box:first-child {
          display: none;
        }
      }
    }
    > .faq > .faq-link {
      @include flex(space-between, center);
      gap: $gap-2x;
      background-color: #f5b963;
      padding: $size-4x;
      border-radius: 0.5rem;
    }
    > .faq > .faq-link i {
      border: 1px solid;
      border-radius: 50%;
      padding: 0.2em;
    }
    .faq-title {
      font-size: $font-size-2x;
    }
  }
  .extra-qn {
    font-size: $font-size-3x;
  }
  .live-chat {
    font-weight: 600;
    text-decoration: underline;
  }
}

footer {
  background-color: #0c1011;
  > .top-footer {
    position: relative;
    margin-bottom: $size-5x;

    @include screen_size(medium) {
      aspect-ratio: 5/4;
      &::after {
        display: none;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      inset: 0 0 0 0;
    }
    &::before {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 42.12%,
        rgba(0, 0, 0, 0) 51.63%
      );
    }
    &::after {
      height: min(100%, 300px);
      inset: auto 0 0 0;
      transform: translateY(20%);
      background: url(../img/footer/footer-vector.svg) no-repeat center/cover;
    }

    > .text-box {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      max-width: 50ch;
      color: #fff;
      font-size: $font-size-2x;
      font-weight: 300;
      z-index: 10;
      @include screen_size(medium) {
        max-width: 35ch;
        left: 0%;
        transform: translate(0%, -50%);
        padding-left: $size-2x;
      }
    }
    .title {
      font-size: $font-size-5x;
      font-family: $font2;
      font-weight: 700;
    }
    .info {
      line-height: 1.4;
      margin: $size-4x 0;
    }
    .find-getaway {
      padding: 0.8em 1.2em;
      border: none;
      color: #173333;
      background-color: #d4eeec;
      border-radius: 6px;
    }
  }
  > .bottom-footer {
    position: relative;
    z-index: 20;
    color: #fff;
    padding: $size-10x $size-5x $size-3x;
    @include screen_size(medium) {
      padding: $size-3x $size-5x;
    }

    .all-lists {
      @include flex(space-evenly, flex-start);
      gap: $gap-3x;
      max-width: 80%;
      margin: 0 auto;
      @include screen_size(medium) {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
      }
    }
    .all-lists > .list > .list-title {
      font-size: $font-size-2x;
      color: #c5fbd8;
    }
    .all-lists > .list > .list-items-box {
      font-size: $font-size-2x;
      font-weight: 300;
      line-height: 1.5;
      margin-top: $size-2x;
      display: grid;
      gap: $gap-2x $gap-4x;

      @include screen_size(medium) {
        display: none;
      }
    }
    .all-lists > .list:nth-child(3) > .list-items-box {
      grid-template-columns: 1fr 1fr;
    }

    .newsletter {
      margin: $size-6x auto;
      padding: $size-6x 0;
      max-width: 80%;
      border-bottom: 1px solid #346769;
      @include screen_size(medium) {
        max-width: 100%;
      }
      > .heading {
        font-size: $font-size-3x;
        color: #c5fbd8;
      }
      > .join-box {
        @include flex(space-between);
        gap: $gap-3x;
        margin-top: $size-2x;
        font-size: $font-size-2x;
        font-weight: 300;
        line-height: 1.3;
        @include screen_size(medium) {
          flex-wrap: wrap;
        }
      }
      > .join-box .info {
        flex-basis: 50%;
        font-size: $font-size-2x;

        @include screen_size(medium) {
          display: none;
        }
      }
      > .join-box .join {
        align-self: stretch;
        @include flex(flex-start, stretch);
        gap: $gap-1x;
        flex: 1;
        flex-wrap: wrap;
        font-size: $font-size-1x;
        max-width: 500px;
        .user-input {
          flex: 2;
          background-color: #fff;
          border: none;
          padding: 0.8em;
          border-radius: 0.3em;
        }
        .join-btn {
          flex: 1;
          border: none;
        }
      }
    }

    .footer-end {
      max-width: 80%;
      margin: 0 auto;
      @include flex(space-between);
      gap: $gap-2x;
      font-size: $font-size-2x;
      font-weight: 300;
      @include screen_size(medium) {
        max-width: 100%;
        justify-content: center;
      }
      .company-name {
        font-size: $size-4x;
        font-weight: 600;
        @include screen_size(medium) {
          display: none;
        }
        span {
          color: #c5fbd8;
        }
      }
      .socials {
        @include flex();
        gap: $gap-2x;
        @include screen_size(medium) {
          display: none;
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
}
